#Environment variables needed for the  entire project

# Groq
GROQ_API_KEY = 

#Pinecone
PINECONE_API_KEY = 
PINECONE_INDEX_NAME = 

#Llama Cloud
LLAMA_CLOUD_API_KEY = 

#google API
GOOGLE_API_KEY = 

#databse
DATABASE_URL=

HUGGINGFACE_TOKEN=

GOOGLE_CLIENT_ID = 
GOOGLE_REDIRECT_URI = 
SECRET_KEY = 